@using Microsoft.AspNet.Identity

@{
    var greeting = "";
    if (DateTime.Now.Hour < 12)
    { greeting = "Good Morning, "; }
    else if (DateTime.Now.Hour >= 12 && DateTime.Now.Hour < 18)
    { greeting = "Good Afternoon, "; }
    else
    { greeting = "Good Evening, "; }
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Create Ad", "Create", "Ads")</li>

        <li style="font-weight: bolder">
            <a href="/Ads/AllAds?user=@User.Identity.GetUserName()">My Ads</a>
        </li>
        <li>
            @Html.ActionLink(greeting + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
