@model SellPlaceBg.Models.IndexViewModel

@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Manage";
}

<h2>@User.Identity.GetUserName()</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>

        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                <a href="/Ads/AllAds?user=@User.Identity.GetUserName()">My Ads</a>
            </p>

        </dd>
    </dl>

    @if (this.User.IsInRole("Admin"))
    {
        <hr />
        <br />
        <dl class="dl-horizontal">
            <dt>Admin panel:</dt>
            <dd>
                <p>
                    <a href="/User/List">Users list</a>
                </p>
            </dd>
        </dl>
    }
    
</div>
