@model myMag.Models.Ad

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Seller.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seller.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategotyAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategotyAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneContact)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
