@model List<myMag.Models.Ad>
@{
    ViewBag.Title = "List";
}
<div class="container">
    <h2>List</h2>
    <div class="row">
        @foreach (var ad in Model)
        {
            <h3>
                @Html.ActionLink(@ad.TitleAd, "Details", "Ad", new { @id = ad.Id }, null)
            </h3>
            <p>
                @ad.CategotyAd
            </p>
            <p>
                @ad.DescriptionAd
            </p>
            <footer>
                <small>@ad.Seller.FullName</small>
            </footer>
        }
    </div>
</div>

